<p id="notice"><%= notice %></p>

<h1>Listing Problems</h1>

<table>
  <thead>
    <tr>
      <th>View</th>
      <th>Title</th>
      <th>Points</th>
      <th>Content</th>
      <th>Tests</th>
      <th>Initial file</th>
      <th>Metadata</th>
      <th>Tags</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= link_to 'Show', problem %></td>
        <td><%= problem.title %></td>
        <td><%= problem.points %></td>
        <td><%= truncate problem.content %></td>
        <td><%= truncate problem.tests %></td>
        <td><%= truncate problem.initial_file %></td>
        <td><%= truncate problem.metadata %></td>
        <td><%= truncate problem.tags %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>
