<p id="notice"><%= notice %></p>

<div class="hidden">
  <%= link_to 'Back', problems_path %>
</div>
<p>
    <%= form_tag(problem_submission_path(params[:id]), method: "post") do %>
      <%= label_tag(:score, "Enter a score:") %>
      <%= text_field_tag(:score) %>
      <%= submit_tag("Submit") %>
    <% end %>
</p>

<%= render 'snap_base' %>
<%= render 'snap_autograder' %>