<% content_for :head do%>
    <title><%= blazer_title ? blazer_title : "Blazer" %></title>

    <%= stylesheet_link_tag "blazer/application" %>
    <%= javascript_include_tag "blazer/application" %>

    <script>
      var runQueriesPath = <%= run_queries_path.to_json.html_safe %>;
    </script>

    <% if blazer_maps? %>
      <%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" %>
      <%= javascript_include_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js" %>
    <% end %>
    <%= csrf_meta_tags %>
<% end %>


<div class="blazer-container" style="padding-top: 60px">
  <%= yield %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.blazer-container > div').first().attr('style', '');
    });
</script>

<% parent_layout 'application' %>
